@model IEnumerable<BlueMates.Models.Event>

@{
    ViewData["Title"] = "Coming up events";
}

<link rel="stylesheet" href="./css/cards.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>Here you can see all the events you created</h1>

<p>
    <a asp-action="Create">Add another event</a>
</p>


<div>
    @foreach (var item in Model)
    {
        <div class="card">

            <img src="@Html.DisplayFor(modelItem => item.Pic)" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>@item.Name</b></h4>
                <b>@item.StartDate</b>
                <b style="display: block;">@item.Description</b>
                <button class="button edit" onclick="location.href='@Url.Action("Edit", "Events", new {id = item.Id})'" >Edit</button>
            </div>
        </div>
        <p>&nbsp&nbsp&nbsp&nbsp</p>


    }
</div>